/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin-500.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto-v20-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/roboto-v20-latin-500.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/roboto-v20-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/roboto-v20-latin-500.svg#Roboto')
      format('svg');
  /* Legacy iOS */
}

* {
  margin: 0 auto;
  padding: 0px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 320px;
  height: 65px;
  background-color: var(--hf-bg-color);
}

.logo-block {
  display: flex;
  flex-direction: row;
  padding-left: 44px;
  margin: 0;
  cursor: pointer;
}

.logo-block--film {
  margin-right: 10px;
  margin-top: 18px;
}

.logo-block--filmoteka {
  visibility: hidden;
}

.js-main-page {
  /* display: block; */
}

.nav-menu {
  width: 218px;
  display: flex;
  margin-right: 22px;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
}

.nav-menu__item {
  position: relative;
  margin-top: 22px;
}

.nav-menu__link {
  color: var(--hf-tx-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.nav-menu__item::after {
  position: absolute;
  opacity: 0;
  content: '';
  background-color: var(--hf-tx-color);
  right: calc(50% - 60px);
  top: 30px;
  height: 3px;
  width: 121px;
}

.nav-menu__item:hover::after {
  opacity: 1;
}

@media (min-width: 768px) {
  header {
    min-width: 768px;
  }

  .logo-block--filmoteka {
    visibility: visible;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 22px;
    margin-left: 10px;
  }

  .nav-menu__link {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  header {
    min-width: 1024px;
  }
}
