 <form action="" class="details-page__form">
        <button type="submit" class="details-page__button" data-name="button_add">add</button>
        <button type="submit" class="details-page__button" data-name="button_delete">delete</button>
</form>
