<li class="menu__movies">
    <div class="card">
        <img src="http://image.tmdb.org/t/p/w500{{poster_path}}" alt="" class="card__movie" id="{{id}}" />

        <div class="card_rating">{{vote_average}}</div>

        <h3 class="card__name_movie">{{title}}</h3>
    </div>
</li>