.img-wrapper {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}

.buttons-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.film__info {
  padding: 0 20px;
}

.film__title {
  margin-bottom: 12px;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  margin-bottom: 30px;
}

tr {
  height: 26px;
}

th,
td {
  text-align: left;
}

th {
  width: 45%;
  padding-left: 16px;
}

tbody tr:nth-child(odd) {
  background-color: var(--odd-table-bg-color);
}

.genres-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.genres-list__item:not(:last-child) {
  margin-right: 6px;
}

.about-title {
  margin-bottom: 20px;
}

.overview {
  margin-bottom: 20px;
}

button[data-target='toQueue'] {
  margin-bottom: 10px;
}

.buttons-box {
  margin-bottom: 20px;
}
