.details-wrapper {
  padding: 20px;
}

.img-wrapper {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.details {
  max-width: 500px;
  margin: 0 auto;
}

.info-box {
  margin-bottom: 20px;
}

.film__title {
  font-family: 'Roboto Medium', sans-serif;
  color: var(--hf-tx-color);
  font-size: 17px;
  margin-bottom: 12px;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  margin-bottom: 30px;
}

tr {
  height: 26px;
}

th,
td {
  text-align: left;
  font-size: 13px;
  color: black;
  font-family: 'Roboto', sans-serif;
  line-height: 27px;
}

th {
  width: 45%;
  padding-left: 16px;
}

tbody tr:nth-child(odd) {
  background-color: var(--odd-table-bg-color);
}

.genres-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.genres-list__item:first-child {
  margin-left: 0;
}

.genres-list__item:not(:last-child) {
  margin-right: 6px;
}

.about-title {
  margin-bottom: 20px;
  color: var(--hf-tx-color);
  font-size: 17px;
  font-family: 'Roboto Medium', sans-serif;
}

.overview {
  color: var(--hf-tx-color);
  font-size: 14px;
  font-family: 'Roboto Medium', sans-serif;
}

.buttons-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button[data-target='toWatched'] {
  margin-bottom: 10px;
}

.butt_style {
  color: var(--hf-tx-color);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding: 8px;
  border-radius: 5px;
}

.butt_style:hover {
  background-color: #e4e4e4;
  box-shadow: 2px #b4b4b4;
}

.buttons-box button {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: left;
  border: none;
  background-color: var(--ev-table-bg-color);
  line-height: 14px;
}

.icon-add-queue {
  background-image: url(../images/calendar-plus.png);
}

.icon-remove-queue {
  background-image: url(../images/calendar-minus.png);
}

.icon-add-watched {
  background-image: url(../images/video.png);
}

.icon-remove-watched {
  background-image: url(../images/basket.png);
}

@media (min-width: 768px) {
  .details-wrapper {
    display: flex;
    justify-content: center;
  }

  .img-wrapper {
    width: 50%;
    margin: 0;
    margin-right: 20px;
  }

  .details {
    margin: 0;
    width: 50%;
  }

  .buttons-box {
    flex-direction: row;
    justify-content: flex-start;
  }

  button[data-target='toWatched'] {
    margin: 0;
    margin-right: 14px;
  }
}

.trailer-box {
  margin-top: 20px;
  width: max-content;
}
