html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.main-page {
  margin: 0 auto;
}

.formSearch {
  margin: 0 auto;
  padding-top: 20px;
  width: 257px;
  border-bottom: 2px solid #9894a1;
}

.inputSearch {
  width: 220px;
  border: none;
  border-top: 10px;
  font-family: 'Roboto';
  font-size: 14px;
}

.buttonSearch {
  width: 20px;
  height: 20px;
  background-image: url('../images/icon.png');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: #fff;
}

/* .js-main-page {
  list-style: none;
  /* display: flex;
  flex-wrap: wrap; */
/* margin: 0;
  padding: 0;
} */

/* } */

.errorSearch {
  text-align: center;
  font-size: 30px;
  color: #050505;
  background-color: #f8faf8;
}

.pagination {
  width: 270px;
  margin: 0 auto 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.pagination button {
  border: none;
  border-radius: 10px;
  width: 75px;
  height: 48px;
  color: #556270;
  font-size: 22px;
  border: 1px solid #556270;
  background-color: #fbfbfb;
}

.numberPage {
  display: block;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 48px;
  color: #556270;
  font-size: 22px;
  line-height: 45px;
  border: 1px solid #556270;
  background-color: #fbfbfb;
  cursor: default;
}

.displayNone {
  /* display: none; */
  visibility: hidden;
}

.paginationLib {
  width: 270px;
  margin: 0 auto 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.paginationLib button {
  border: none;
  border-radius: 10px;
  width: 75px;
  height: 48px;
  color: #556270;
  font-size: 22px;
  border: 1px solid #556270;
  background-color: #fbfbfb;
}

.numberPageLib {
  display: block;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 48px;
  color: #556270;
  font-size: 22px;
  line-height: 45px;
  border: 1px solid #556270;
  background-color: #fbfbfb;
  cursor: default;
}
