.tb_html {
  box-sizing: border-box;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

.tb,
.tb::before,
::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
  background-color: transparent;
}
.tb_main,
.tb_a,
.tb_input,
.tb_img {
  display: block;
}
.tb_img {
  border-style: none;
}

.tb_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.tb_nav {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  width: 1200px;
  height: 20px;
}
.tb_nav__list {
  width: 100%;
}

.tb_nav__item {
  margin: 15px 10px 15px 10px;

  text-align: center;

  border: 1px solid #000000;
}

.tb_nav__item:hover,
.tb_nav__item:focus {
  color: #000000;
  background-color: #808080;
}
.tb_nav__item:active {
  color: #000000;
  background-color: #008000;
  border: 1px solid #008000;
}
